body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding-top: 69px;
}

.header {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  align-items: center;
  background-color: black;
  margin: 0 auto;
}

.header img {
  padding-left: 10px;
  height: 50px;
}

nav {
  display: inline-block;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  background-image: url('./images/img-mission-background.jpg');
}

.mission {
  background-color: black;
  width: 100%;

}

h2 {

}

.mission h2 {

}

.mission h4 {

}

#featuredtea {

}

#featuredtea h2 {

}

#featuredtea h4 {

}

.imagescontainer {

}

.imagescontainer.item {

}

#locations {

}

#locations h2 {

}

.locationscontainer.item h3 {

}

.locationscontainer.item p {

}

.contact {

}

.contact h2 {

}

.contact p {

}

footer {

}

footer p {

}
